/*about code*/

.my-margin2 {margin: 20px 0 20px 0;}

.img-about {
	margin: 2em;
	max-height: 85%;
	max-width: 85%;
}

.about-animate-box {
	width: 50%;
	margin: 0 auto;
	overflow: hidden;
}

.about-text1, .about-text2 {
	position: relative;
	text-align: center;
	font-size: 170%;
	font-weight: bold;
	color: #4a4a4a;
	transition: 1s;
}

.about-text1 {left: -600px}
.about-text2 {left: 600px;}

@media screen and (max-width: 1500px) {
	.about-text1, .about-text2 {
		font-size: 130%;
		margin: 2em 0 2em 0;
	}
}

@media screen and (max-width: 600px) {
	.about-text1 {
			font-size: 100%;
	}
	.about-animate-box {
		width: 75%;
	}
 
}

/*about-info*/

.state-img {
	width: 75%; 
	height: 75%;
	margin-left: auto;
	}

.stateBox {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px !important;
	max-height: 700px;
}

.tabs-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.input-about {
	opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.tab {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  background-color: #eee;
	flex-basis: 33%;
	border: 2px solid #fff;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

@media screen and (max-width: 500px) {
	.tab {flex-basis: 28%}
}

.AboutTabContent {
	display: none;
	background-color: #f8f8f8;
	border-radius: 1px;
	color: #6b6b6b;
	font-size: 110%;
	margin-top: 1em;
	border: 1px solid #e9e9e9;
	font-weight: lighter;
	flex-basis: 99%;
	width: 99%;
	padding: 10px;
}

#tab-1:checked ~ label[for='tab-1'],
#tab-2:checked ~ label[for='tab-2'], 
#tab-3:checked ~ label[for='tab-3'] { background-color: #ffc107;}


#tab-1:checked ~ .AboutContent1,
#tab-2:checked ~ .AboutContent2,
#tab-3:checked ~ .AboutContent3 { display: block; }


/*team*/

.team-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
	display: flex;
	justify-content: center;
	border: none;
	height: 450px;
	width: 300px;
	position: relative;
	perspective: 1000px;
	margin: 3em;
}


.front-card, .back-card {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transition: 0.5s;
	backface-visibility: hidden;
	border-color: #000329;
	box-shadow: 0 0 5px;
}

.front-card {background-color: #00043c; color: #fff;}

.back-card {
	background-color: #ffc107;
	transform: rotateY(180deg);
	color: #000;
	display: flex;
	text-align: center;
}

.card:hover .front-card {transform: rotateY(180deg);}
.card:hover .back-card {transform: rotateY(360deg);}

.worker-text {
	padding: 80px 10px 0px 10px;
	align-items: center;
	justify-content: center;
}

.worker-name, .worker-post {
	margin: 0 0 10px 10px;
	align-items: end;
	justify-content: start;
}

.worker-name {
	margin-top: auto ;
	font-weight: bold;
	font-size: 130%;
}

.worker-post {font-weight: lighter;	font-size: 90%;}

/*project map*/

#map {width: 100%; height: 700px;}

.img-map {width: 200px; height: 160px;}

.title-map {margin-top: 5px;}

.text-map {width: 200px; font-size: 10pt;}


@media screen and (max-width: 600px) {
	.footer-form {
		width: 70%;
	}
