/*global*/

body {font-family: Trebuchet MS, sans-serif !important; overflow-x: hidden}

input, textarea, button,:active,
:hover, 
:focus{outline:none !important;}

.my-margin {
	height: 30px;
	margin-top: 5em;
	margin-bottom: 5em;
}

a {text-decoration: none; color: inherit;}

/*header*/

.logo {
	max-height: 150px;
	height: 80%;
	width: 80%;
	margin: 2em 0 2em 2em;
}

.social-icon {
	margin: 0 10px 10px 0;
	box-shadow: 0px 5px 8px -2px rgba(34, 60, 80, 0.25);
	border-radius: 50%;
	padding: 5px;
	background-color: #fff;
	transition: 0.5s;
}

.social-icon-box {
	padding: 4em 2em 2em 2em;  
	width: 30%;
	display: flex;
	align-items: end;
	justify-content: end;
}

 .social-icon-box img:hover {
	background-color:#ffc107;
	transform: translateY(-10px);
}

.navbar-nav li:hover {
	background-color:#ffc107;
	color: black !important;
	transition: 0.5s ease;
}

.nav-item {
	height: 100% !important;
	font-size: 115% !important;
	padding: 20px 15px 20px 15px;
	color: white !important;
}

.nav-active {background-color:#ffc107; color: black !important;}

/*footer*/

.footer-form {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin: 0 auto;
}

.footer-conteiner {
	display: flex;
	width: 100%;
	margin-bottom: 1em;
	border-radius: 5px;
}

.footer-conteiner i {
  width: 30px;
  padding: 7px;
  background-color: #333;
  border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.input-footer {
	width: 100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color: #3d3d3d;
	border: none;
}

.btn-footer-form {
	background-color: #ffc107;
	border: none;
	border-radius: 5px;
	margin-bottom: 3em;
}

.footer-link {
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.footer-link a:hover{
	color: #ffc107;
}

/*index code*/

.slider {max-height: 700px !important;}

.advantages {
	display: flex;
	justify-content: center;
	border: none;
}

.offering-title {
	background-color: #00043c;
	height: 50px;
	color: white;
}

.offering-row {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 100%;
	width: 30%;
	overflow: hidden;
}

.offering-animate {
	position: relative;
	right: -100%;
	transition: 2s;
	font-size: 1.4vw;
}

.offering {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	flex-wrap: wrap;
}

.offering-img {
	width: 80%;
	height: 80%;
	padding: 2em 2em 2em 4em;
	margin-bottom: 35px;
}

.offering img:hover {
	transform: scale(1.2);
	transition: 1s;
}

.label-box1, .label-box2, .label-box3 {
	position: absolute;
	width: 200px;
	height: 40px;;
	background-color: #00043c;
	padding: 7px 0 0 0;
	transition: 2.5s;
}

.label-box1 {
	z-index: 3;
	text-align: center;
	color: #fff;
	font-size: 100%;
	transform: skew(30deg);
}

.label-box2 {
	background-color:#ffc107;
	z-index: 2;
	transform: skew(30deg);
	border-bottom-left-radius: 30px;
	border-top-right-radius: 15px;
}

.label-box3 {
	background-color: #b3b3b3;
	z-index: 1;
	transform: skew(30deg);
}

.state-conteiner {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: end;
}

.state-info {
	padding: 10px 0 10px  2em;
	color: white;
	font-size: 12pt;
	font-weight: bold;
	text-transform: uppercase;
}


.number, .number1, .number2, .number3 {
	color: white;
	font-size: 37pt;
	font-weight: bolder;
	text-transform: uppercase;
}


.news-container {
	position: relative;
	height: 463px;	
  text-align: center;
  color: white;
  opacity: 1;
  background-size: cover;
}

.news-text {
 	width: 100%;
  height: 100%;	
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: white;
  background-color: rgba(0,0,0,0.75);
 	transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 10px;
}

.news-text p {
	transition: all 0.3s ease-in-out;
  margin-top: -15px;
  font-size: 120%;
}

.news-container div:hover {opacity: 1;}

.news-container div:hover p {margin-top: 0;}

.slider-line {
	width: 470px !important;
	background-color: #ffc107;
	height: 420px !important;
	display: flex;
	position: relative;
  margin: 0 auto;
  overflow: hidden;
  padding: 0px !important;
}

.reviews {
	display: flex;
	flex-direction: row;
	position: relative;
  left: 0px;
  transition: all ease 1s;
  padding: 0px !important;
  margin: 0px !important;
}

.review-window {
	min-width: 450px !important;
	min-height: 280px !important;
	background-color: white;
	font-size: 80%;
	margin: 0 10px 10em 10px;
	padding: 1em;
	border-radius: 5%;
	position: relative;
	display: flex;
	flex-direction: column;
	box-shadow:  4px 4px 8px 0px rgba(34, 60, 80, 0.5);
}

.text-review {
	color: #363636;
	font-weight: bold !important;
	padding: 2em;
}

.name-user-review {
	color: black;
	font-weight: bolder;
	font-size: 140%;
	padding: 2em;
}

.btnReviews1, .btnReviews2, .btnReviews3 {
	border: none;
	background-color: white;
	height:15px; 
	width:15px;
	margin: 8px 3px 50px 3px;
}

/*contact code*/

.contact-case {
	margin: 5em;
	background-color: rgb(232, 237, 240);
	min-height: 700px;
	min-width:  300px;
	border-radius: 1%;
	font-size: 1.7vw;
}

.title-contact {font-size: 2vw;}
.icon-contact {margin-right: 1em;}